/* 
    Document   : style
    Created on : Jan 25, 2017, 10:41:11 PM
    Author     : FRANKCHUKY
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


body{
   
}


.message-alert{
    padding-top: 200px;
}

.jumbotron{
   /** background-color:  #1E90FF;*/
   /**background-color:  #a7caf7;*/
   background-color:  #c4dcfb;
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2.0em;
}
.form-group{
    padding-top: 15px;
}

.loginstyle{
   padding-top: 100px;
}

.signupstyle{
   padding-top: 70px;
}
#how-it-works{
    color: white;
    font-size: 16px;
    
}
footer{
    color: #faf1ed;
    font-weight: bold;
    font-size: 16px;
    position: relative; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 50px;
}

.form-group{
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-inverse{
    background-color:  #b0324e;
}
i{
     color: #bab836;
}